.page {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    background: #0d1117;
    min-height: 100vh;
}

.title {
    font-size: 3rem;
    text-align: center;
    color: white;
    text-transform: uppercase;
}

.profile {
    background: lightgreen;
    padding: 1rem;
    border-radius: 1rem;
}

.pets {
    background: lightblue;
    padding: 1rem;
    border-radius: 1rem;
    flex: 1;
    h2 {
        margin-bottom: 2rem;
    }
}
