.button {
    padding: 1rem;
    border-radius: 0.6rem;
    font-weight: 500;
    cursor: pointer;
    transition:
        background-color 0.5s ease,
        color 0.5s ease;
}

.button:disabled {
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;
}

.primary {
    background-color: black;
    color: white;
    border: 0.1rem solid black;
}

.primary:not(:disabled):hover {
    background-color: white;
    color: black;
}

.secondary {
    background-color: #6c757d;
    color: white;
     border: 0.1rem solid #6c757d;
}

.secondary:not(:disabled):hover {
    background-color: white;
    color: #6c757d;
}
